In [ ]:
##!pip install bs4
##!pip install requests

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

# Answer no 1.

In [572]:
page=requests.get("https://en.wikipedia.org/wiki/Home_Page")
soup=BeautifulSoup(page.content)

for heading in soup.find_all(['h1','h2','h3','h4','h5','h6']):

     print(heading.name+ " " +heading.text.strip())

h1 Home page
h2 Website home page[edit]
h2 Browser home page[edit]
h2 References[edit]
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Variants
h3 Views
h3 More
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

# Answer2

In [614]:
def getTopMovie(url,element,class1):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Name=soup.find_all(element,class_=class1)
    Name_list=[]
    for i in Name:
        Name_list.append(i.text.replace('\n',''))

    return Name_list[0:100]

In [615]:
import pandas as pd
top_movie1=pd.DataFrame({})
top_movie1['Name']=getTopMovie("https://www.imdb.com/chart/top/?ref_=nv_mv_250",'td','titleColumn')
top_movie1['Year']=getTopMovie("https://www.imdb.com/chart/top/?ref_=nv_mv_250",'span','secondaryInfo')
top_movie1['Rating']=getTopMovie("https://www.imdb.com/chart/top/?ref_=nv_mv_250",'td','ratingColumn imdbRating')

In [616]:
top_movie1

                                                 Name    Year Rating
0              1.      The Shawshank Redemption(1994)  (1994)    9.2
1                         2.      The Godfather(1972)  (1972)    9.1
2                3.      The Godfather: Part II(1974)  (1974)    9.0
3                       4.      The Dark Knight(2008)  (2008)    9.0
4                          5.      12 Angry Men(1957)  (1957)    8.9
..                                                ...     ...    ...
95                 96.      Singin' in the Rain(1952)  (1952)    8.3
96                  97.      North by Northwest(1959)  (1959)    8.3
97        98.      Eternal Sunshine of the Spotles...  (2004)    8.3
98                 99.      Ladri di biciclette(1948)  (1948)    8.3
99                       100.      Idi i smotri(1985)  (1985)    8.3

[100 rows x 3 columns]

In [617]:
 top_movie1.to_csv("Top_Movie.csv")


# Answer3

In [618]:
def getIndianTopMovie(url,element,class1):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    movieName=soup.find_all(element,class_=class1)
    IndianName_list=[]
    for i in movieName:
        IndianName_list.append(i.text.replace('\n',''))

    return IndianName_list[0:100]

In [619]:
import pandas as pd
indian_top_movie=pd.DataFrame({})
indianName=getIndianTopMovie('https://www.imdb.com/india/top-rated-indian-movies/','td','titleColumn')
indianYear=getIndianTopMovie('https://www.imdb.com/india/top-rated-indian-movies/','span','secondaryInfo')
indianRating=getIndianTopMovie('https://www.imdb.com/india/top-rated-indian-movies/','td','ratingColumn imdbRating')
indian_top_movie['Indian Movie Name']=indianName[0:100]
indian_top_movie['Year']=indianYear[0:100]
indian_top_movie['Rating']=indianRating[0:100]

indian_top_movie

                                   Indian Movie Name    Year Rating
0                      1.      Pather Panchali(1955)  (1955)    8.5
1                              2.      Nayakan(1987)  (1987)    8.5
2                             3.      Gol Maal(1979)  (1979)    8.5
3                           4.      Anbe Sivam(2003)  (2003)    8.5
4                          5.      Apur Sansar(1959)  (1959)    8.5
..                                               ...     ...    ...
95                         96.      Chhichhore(2019)  (2019)    8.1
96                              97.      Iqbal(2005)  (2005)    8.1
97                              98.      Lucia(2013)  (2013)    8.0
98                         99.      Bommarillu(2006)  (2006)    8.0
99        100.      The Legend of Bhagat Singh(2002)  (2002)    8.0

[100 rows x 3 columns]

In [620]:
indian_top_movie.to_csv('indian_top_movie.csv')

# Answer 4

In [621]:
def getBookDetail(url,element,classname):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Detail=soup.find_all(element,classname)
    Detail_List=[]
    for i in Detail:
        Detail_List.append(i.text.replace('\n',''))
    return Detail_List[0:5]

In [622]:
def getReview(url):
    review_list=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    for a in soup.find_all('div', {"class":"read-full"}):
        for b in a.find_all('a'):
            url_=b.get('href')
            page1=requests.get("https://bookpage.com"+url_)
            soup1=BeautifulSoup(page1.content)
            review=soup1.find_all('div','article-body')
            review_list.append(review)
    return review_list[0:5]

In [623]:
import pandas as pd
Book_Detail=pd.DataFrame({})
Namelist=getBookDetail('https://bookpage.com/reviews?book_genre=romance&page=1','h4','italic')
author=getBookDetail('https://bookpage.com/reviews?book_genre=romance&page=1','p','sans bold')
genre=getBookDetail('https://bookpage.com/reviews?book_genre=romance&page=1','p','genre-links hidden-phone')

review=getReview('https://bookpage.com/reviews?book_genre=romance&page=1')

Book_Detail['Book Name']=Namelist
Book_Detail['Author']=author
Book_Detail['Genre']=genre
Book_Detail['Review']=review

Book_Detail

,Book Name,Author,Genre,Review
0,★ People We Meet on Vacation,Emily Henry,Romance / Contemporary Romance,"[[\n, [\n], [Emily Henry’s , <strong>People We..."
1,Before I Saw You,Emily Houghton,Romance / Contemporary Romance,"[[\n, [\n], [Emily Houghton’s , <strong>Before..."
2,"An Earl, the Girl, and a Toddler",Vanessa Riley,Romance / Historical Romance,"[[\n, [\n], [The story starts with a tragedy. ..."
3,To Love and to Loathe,Martha Waters,Romance / Historical Romance,"[[\n, [\n], [Martha Waters is back with the se..."
4,★ The Intimacy Experiment,Rosie Danan,Romance / Contemporary Romance,"[[\n, [\n], [Rosie Danan returns with , <stron..."

# Answer 5

# 5.1

In [645]:
def getMenTeam(url,element,classname):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Detail=soup.find_all(element,classname)
    Detail_List=[]
    for i in Detail:
        Detail_List.append(i.text.replace('\n',''))
    return Detail_List

In [646]:
team=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","span","u-hide-phablet")
team[0:10]

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [647]:

matches=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","td","rankings-block__banner--matches")
matches

['17']

In [648]:


points=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","td","rankings-block__banner--points")
points

['2,054']

In [649]:
rating=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","td","rankings-block__banner--rating u-text-right")
rating

['                            121                            ']

In [650]:
match=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","td","table-body__cell u-center-text")
#match[0:20]
match1=[]
point1=[]
for i in range(0, len(match)):
    if i % 2:
        point1.append(match[i])
    else :
        match1.append(match[i]) 
print("matchlist",match1[0:9])
print("point list",point1[0:9])

matchlist ['25', '29', '27', '20', '24', '24', '27', '21', '17']
point list ['2,945', '3,344', '3,100', '2,137', '2,323', '2,157', '2,222', '1,652', '1,054']

In [651]:

rate=getMenTeam("https://www.icc-cricket.com/rankings/mens/team-rankings/odi","td","table-body__cell u-text-right rating")
rate[0:10]

['118', '115', '115', '107', '97', '90', '82', '79', '62', '50']

In [652]:
import pandas as pd
match_detail=pd.DataFrame({})
match1.insert(0,matches)
point1.insert(0,points)
rate.insert(0,rating)
match_detail['Team']=team[0:10]
match_detail['Matches']=match1[0:10]
match_detail['Points']=point1[0:10]
match_detail['Rating']=rate[0:10]
match_detail

,Team,Matches,Points,Rating
0,New Zealand,[17],"[2,054]",[ 121 ...
1,Australia,25,"2,945",118
2,India,29,"3,344",115
3,England,27,"3,100",115
4,South Africa,20,"2,137",107
5,Pakistan,24,"2,323",97
6,Bangladesh,24,"2,157",90
7,West Indies,27,"2,222",82
8,Sri Lanka,21,"1,652",79
9,Afghanistan,17,"1,054",62

# 5.2

In [653]:
player=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","div","rankings-block__banner--name")
player[0]

'Babar Azam'

In [654]:
first_team=[]
nation=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","div","rankings-block__banner--nationality")
first_team=nation[0].split()[0]
first_team

'PAK'

In [655]:
first_rating=[]
first_rating=nation[0].split()[1]
first_rating

'865'

In [656]:
player1=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","td","table-body__cell name")

player1.insert(0,player[0])
player1[0:10]

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [657]:

team=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","span","table-body__logo-text")
team.insert(0,first_team)
team[0:10]

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [658]:


rating=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","td","table-body__cell u-text-right rating")
rating.insert(0,first_rating)
rating[0:10]

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [659]:
import pandas as pd
odi_batsmen=pd.DataFrame({})
odi_batsmen['Player']=player1[0:10]
odi_batsmen['Team']=team[0:10]
odi_batsmen['Rating']=rating[0:10]
odi_batsmen

                Player Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

# 5.3

In [662]:
player=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","div","rankings-block__banner--name")
player[2]

'Shakib Al Hasan'

In [663]:

team1=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","div","rankings-block__banner--nationality")

first_team=team1[2].split()[0]
first_team

'BAN'

In [664]:
rating1=team1[2].split()[1]
rating1

'408'

In [665]:
firstplayer=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","td","table-body__cell name")
fplayer=[]
player[2]

fplayer.append(player[2])

fplayer.extend(firstplayer[18:27])
fplayer

['Shakib Al Hasan',
 'Ben Stokes',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Imad Wasim',
 'Colin de Grandhomme',
 'Ravindra Jadeja',
 'Sean Williams']

In [666]:

teamnames=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","span","table-body__logo-text")
team_=[]
team_.append(first_team)
team_.extend(teamnames[45:54])
team_

['BAN', 'ENG', 'AFG', 'ENG', 'AFG', 'NZ', 'PAK', 'NZ', 'IND', 'ZIM']

In [667]:

ratings=getMenTeam("https://www.icc-cricket.com/rankings/mens/player-rankings/odi","td","table-body__cell u-text-right rating")
rating_=[]
rating_.append(rating1)
rating_.extend(ratings[45:54])
rating_

['408', '295', '294', '273', '270', '268', '263', '257', '245', '238']

In [668]:
import pandas as pd
allrounder=pd.DataFrame({})
allrounder['Player']=fplayer

allrounder['Team']=team_
allrounder['Rating']=rating_
allrounder

                Player Team Rating
0      Shakib Al Hasan  BAN    408
1           Ben Stokes  ENG    295
2        Mohammad Nabi  AFG    294
3         Chris Woakes  ENG    273
4          Rashid Khan  AFG    270
5     Mitchell Santner   NZ    268
6           Imad Wasim  PAK    263
7  Colin de Grandhomme   NZ    257
8      Ravindra Jadeja  IND    245
9        Sean Williams  ZIM    238

# 6.1

In [669]:
def getWomenTeam(url,element,classname):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Detail=soup.find_all(element,classname)
    Detail_List=[]
    for i in Detail:
        Detail_List.append(i.text.replace('\n',''))
    return Detail_List[0:10]

In [670]:
import pandas as pd
Team_Women=pd.DataFrame({})
team=getWomenTeam('https://www.icc-cricket.com/rankings/womens/team-rankings/odi','span','u-hide-phablet')

first_matches=getWomenTeam('https://www.icc-cricket.com/rankings/womens/team-rankings/odi','td','rankings-block__banner--matches')
##first_points=getWomenTeam('https://www.icc-cricket.com/rankings/womens/team-rankings/odi','td','rankings-block__banner--points')
first_ratings=getWomenTeam('https://www.icc-cricket.com/rankings/womens/team-rankings/odi','td','rankings-block__banner--rating u-text-right')
#print(first_ratings)

    
matches_list=[]
##matches_list.append(first_matches)

rating_list=[]
rating_list.append(first_ratings)

ML=[]
PL=[]
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(page.content)
for a in soup.find_all('tr', {"class":"table-body"}):
        for b in a.find_all('td', {"class":"table-body__cell u-center-text"}):
            #print(b.getText())
            matches=b.getText()
            matches_list.append(matches)
            
        for c in a.find_all('td', {"class":"table-body__cell u-text-right rating"}):
            #print(c.getText())
            rating_list.append(c.getText())


##print("Full: " + str(matches_list))        
for i in range(0, len(matches_list)):
    if i % 2:
        ML.append(matches_list[i])
    else :
        PL.append(matches_list[i]) 

#matches_list
#rating_list
ML
PL

PL.insert(0,first_matches)
ML.insert(0,first_points)
##print("Seprated even  index list: " + str(PL))


Team_Women['Team']=team
Team_Women['Matches']=PL
Team_Women['Points']=ML
Team_Women['Ratings']=rating_list
Team_Women

,Team,Matches,Points,Ratings
0,Australia,[18],"[2,955]",[ 164 ...
1,South Africa,24,"2,828",118
2,England,17,"1,993",117
3,India,20,"2,226",111
4,New Zealand,21,"1,947",93
5,West Indies,12,"1,025",85
6,Pakistan,15,"1,101",73
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

# Answer 6.2

In [673]:
firstName=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','div','rankings-block__banner--name')
firstName[0]

'Tammy Beaumont'

In [674]:
firstTeam=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','div','rankings-block__banner--nationality')
firstTeam[0].split()
team1=firstTeam[0].split()[0]
rating1=firstTeam[0].split()[1]
print(team1)
print(rating1)

ENG
765

In [675]:

Name1=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','td','table-body__cell name')
Name1

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Megan Schutt']

In [676]:

team_name=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','span','table-body__logo-text')
team_name

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA', 'AUS']

In [677]:

rating=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','td',"table-body__cell u-text-right rating")
rating

['758', '756', '746', '723', '715', '710', '709', '685', '683', '762']

In [678]:
Name1.insert(0,firstName[0])

In [679]:
Name1

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Megan Schutt']

In [680]:
team_name

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA', 'AUS']

In [681]:
team_name.insert(0,team1)

In [682]:
rating.insert(0,rating1)

In [683]:
import pandas as pd
women_team=pd.DataFrame({})
women_team['Player Name']=Name1[0:10]
women_team['Team']=team_name[0:10]
women_team['Rating']=rating[0:10]
women_team

         Player Name Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

# Answer6.3

In [684]:
firstPlayerName=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','div','rankings-block__banner--name')
firstPlayerName[2]

'Marizanne Kapp'

In [685]:

firstPlayerTeam=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','div','rankings-block__banner--nationality')
firstPlayerTeam[2]
team=firstPlayerTeam[2].split()[0]
rating=firstPlayerTeam[2].split()[1]
print(team)
print(rating)

SA
418

In [686]:
PlayerName=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','td','table-body__cell name')
PlayerName

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Megan Schutt']

In [687]:
teamName=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','span',"table-body__logo-text")
teamName

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA', 'AUS']

In [688]:
rating=getWomenTeam('https://www.icc-cricket.com/rankings/womens/player-rankings/odi','td',"table-body__cell u-text-right rating")
rating

['758', '756', '746', '723', '715', '710', '709', '685', '683', '762']

# Answer No 7

In [602]:
def getProduct(url,element,classname):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Detail=soup.find_all(element,classname)
    Detail_List=[]
    for i in Detail:
        Detail_List.append(i.text)
    return Detail_List[0:10]

In [612]:
product1=getProduct('https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_1',"span","a-size-medium a-color-base a-text-normal")
product1

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Midnight Black, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor']

In [586]:
price=getProduct('https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_1','span','a-offscreen')
price

['₹8,799',
 '₹10,999',
 '₹6,799',
 '₹8,499',
 '₹11,990',
 '₹15,990',
 '₹11,990',
 '₹15,990',
 '₹7,490',
 '₹9,990']

In [606]:
image_list=[]

page=requests.get('https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_1')
soup=BeautifulSoup(page.content)
for a in soup.find_all('img',{"class":"s-image"}):
    imgsrc=a.get('src')
    image_list.append(imgsrc)

image_list

['https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51ZoulFBPGL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71BFG8Zu7zL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/715t-uJnjMS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg']

In [607]:
rating=getProduct('https://www.amazon.in/s?k=mobile+under+20000&ref=nb_sb_noss_1','span',"a-icon-alt")
rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars']

In [613]:
import pandas as pd
Products=pd.DataFrame({})
Products['ProductName']=product1[0:10]
Products['Price']=price[0:10]
Products['Image Src']=image_list[0:10]
Products['Rating']=rating[0:10]
Products

,ProductName,Price,Image Src,Rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","₹8,799",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
1,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...","₹10,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
2,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","₹6,799",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars
3,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","₹8,499",https://m.media-amazon.com/images/I/61IhTtJUXJ...,4.2 out of 5 stars
4,"Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage...","₹11,990",https://m.media-amazon.com/images/I/51ZoulFBPG...,4.2 out of 5 stars
5,"Redmi 9A (Midnight Black, 3GB Ram, 32GB Storag...","₹15,990",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
6,"OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage...","₹11,990",https://m.media-amazon.com/images/I/61IhTtJUXJ...,4.2 out of 5 stars
7,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","₹15,990",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.3 out of 5 stars
8,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...","₹7,490",https://m.media-amazon.com/images/I/71yYaNztZ0...,4.0 out of 5 stars
9,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","₹9,990",https://m.media-amazon.com/images/I/61LHaUOheh...,4.2 out of 5 stars

# Answer No 8

In [593]:
def getWeather(url,element,classname):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    Detail=soup.find_all(element,classname)
    Detail_List=[]
    for i in Detail:
        Detail_List.append(i.text)
    return Detail_List

In [594]:
weather1=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','p','period-name')
weather1

['Today',
 'Tonight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday']

In [595]:

weather2=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','div','col-sm-2 forecast-label')
weather2

['Today',
 'Tonight',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday']

In [596]:

short_desc=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','p','short-desc')
short_desc

['DecreasingClouds',
 'PatchyDrizzle',
 'PatchyDrizzle thenMostly Sunny',
 'Partly Cloudy',
 'Mostly Sunny',
 'Mostly Cloudy',
 'Partly Sunny',
 'Partly Cloudy',
 'Mostly Sunny']

In [597]:


temp_high=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','p','temp temp-high')
temp_high

['High: 61 °F', 'High: 63 °F', 'High: 64 °F', 'High: 63 °F', 'High: 64 °F']

In [598]:


temp_low=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','p','temp temp-low')
temp_low

['Low: 52 °F', 'Low: 52 °F', 'Low: 52 °F', 'Low: 51 °F']

In [599]:
temp=[]
for i in range(0,len(temp_low)):
    temp.append(temp_high[i])
    temp.append(temp_low[i])

temp.append(temp_high[4])
temp

['High: 61 °F',
 'Low: 52 °F',
 'High: 63 °F',
 'Low: 52 °F',
 'High: 64 °F',
 'Low: 52 °F',
 'High: 63 °F',
 'Low: 51 °F',
 'High: 64 °F']

In [600]:


Desc=getWeather('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJzf19UzbIU','div',"col-sm-10 forecast-text")
Desc
print(len(Desc))

13

In [601]:
import pandas as pd
weather_detail=pd.DataFrame({})
weather_detail['Period']=weather1
weather_detail['Short Description']=short_desc
weather_detail['Temperature']=temp
weather_detail['Description']=Desc[0:9]
weather_detail

,Period,Short Description,Temperature,Description
0,Today,DecreasingClouds,High: 61 °F,"Mostly cloudy, then gradually becoming sunny, ..."
1,Tonight,PatchyDrizzle,Low: 52 °F,"Patchy drizzle after 11pm. Increasing clouds,..."
2,Saturday,PatchyDrizzle thenMostly Sunny,High: 63 °F,"Patchy drizzle before 11am. Mostly cloudy, th..."
3,SaturdayNight,Partly Cloudy,Low: 52 °F,"Partly cloudy, with a low around 52. West sout..."
4,Sunday,Mostly Sunny,High: 64 °F,"Mostly sunny, with a high near 64. Light west ..."
5,SundayNight,Mostly Cloudy,Low: 52 °F,"Mostly cloudy, with a low around 52."
6,Monday,Partly Sunny,High: 63 °F,"Partly sunny, with a high near 63."
7,MondayNight,Partly Cloudy,Low: 51 °F,"Partly cloudy, with a low around 51."
8,Tuesday,Mostly Sunny,High: 64 °F,"Mostly sunny, with a high near 64."