In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#pip install seaborn

In [3]:
#pip install sklearn

In [83]:
df1=pd.read_csv("Malignant_classifier.csv")
df2=pd.read_csv("test_malignant.csv")

In [86]:
df=df1.merge(df2,how='outer')

In [87]:
df.head()

,id,comment_text,malignant,highly_malignant,rude,threat,abuse,loathe
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0.0,0.0,0.0,0.0,0.0,0.0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0.0,0.0,0.0,0.0,0.0,0.0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0.0,0.0,0.0,0.0,0.0,0.0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0.0,0.0,0.0,0.0,0.0,0.0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
df.shape

(312735, 8)

In [89]:
df.columns

Index(['id', 'comment_text', 'malignant', 'highly_malignant', 'rude', 'threat',
       'abuse', 'loathe'],
      dtype='object')

In [90]:
df.dtypes

id                   object
comment_text         object
malignant           float64
highly_malignant    float64
rude                float64
threat              float64
abuse               float64
loathe              float64
dtype: object

In [91]:
df.drop(df.columns[[0]],axis=1,inplace=True)

In [92]:
df.head()

,comment_text,malignant,highly_malignant,rude,threat,abuse,loathe
0,Explanation\nWhy the edits made under my usern...,0.0,0.0,0.0,0.0,0.0,0.0
1,D'aww! He matches this background colour I'm s...,0.0,0.0,0.0,0.0,0.0,0.0
2,"Hey man, I'm really not trying to edit war. It...",0.0,0.0,0.0,0.0,0.0,0.0
3,"""\nMore\nI can't make any real suggestions on ...",0.0,0.0,0.0,0.0,0.0,0.0
4,"You, sir, are my hero. Any chance you remember...",0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
feature_column=df.columns[0:1]

In [94]:
target_column=df.columns[1:]

In [95]:
feature_column

Index(['comment_text'], dtype='object')

In [96]:
target_column

Index(['malignant', 'highly_malignant', 'rude', 'threat', 'abuse', 'loathe'], dtype='object')

In [97]:
for col in target_column:
     print(f"The unique value for {col} are {df[col].unique()}")

The unique value for malignant are [ 0.  1. nan]
The unique value for highly_malignant are [ 0.  1. nan]
The unique value for rude are [ 0.  1. nan]
The unique value for threat are [ 0.  1. nan]
The unique value for abuse are [ 0.  1. nan]
The unique value for loathe are [ 0.  1. nan]

In [106]:
df['highly_malignant'].replace(np.NaN,0,inplace=True)
df['rude'].replace(np.NaN,0,inplace=True)
df['threat'].replace(np.NaN,0,inplace=True)
df['abuse'].replace(np.NaN,0,inplace=True)
df['malignant'].replace(np.NaN,0,inplace=True)
df['loathe'].replace(np.NaN,0,inplace=True)

In [107]:
for col in target_column:
     print(f"The unique value for {col} are {df[col].unique()}")

The unique value for malignant are [0. 1.]
The unique value for highly_malignant are [0. 1.]
The unique value for rude are [0. 1.]
The unique value for threat are [0. 1.]
The unique value for abuse are [0. 1.]
The unique value for loathe are [0. 1.]

# Data Preprocessing

In [108]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import re
import sys
import warnings
data = df
if not sys.warnoptions:
    warnings.simplefilter("ignore")
    
def cleanHtml(sentence):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(sentence))
    return cleantext

In [109]:
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned

In [110]:
def keepAlpha(sentence):
    alpha_sent = ""
    for word in sentence.split():
        alpha_word = re.sub('[^a-z A-Z]+', ' ', word)
        alpha_sent += alpha_word
        alpha_sent += " "
    alpha_sent = alpha_sent.strip()
    return alpha_sent

In [111]:
data['comment_text'] = data['comment_text'].str.lower()

In [112]:
data['comment_text'] = data['comment_text'].apply(cleanHtml)

In [113]:


data['comment_text'] = data['comment_text'].apply(cleanPunc)

In [114]:

data['comment_text'] = data['comment_text'].apply(keepAlpha)

In [115]:
data.head()

,comment_text,malignant,highly_malignant,rude,threat,abuse,loathe
0,explanation why the edits made under my userna...,0.0,0.0,0.0,0.0,0.0,0.0
1,daww he matches this background colour im seem...,0.0,0.0,0.0,0.0,0.0,0.0
2,hey man im really not trying to edit war its j...,0.0,0.0,0.0,0.0,0.0,0.0
3,more i cant make any real suggestions on impro...,0.0,0.0,0.0,0.0,0.0,0.0
4,you sir are my hero any chance you remember wh...,0.0,0.0,0.0,0.0,0.0,0.0

# Removing StopWords

In [116]:
stop_words = set(stopwords.words('english'))
stop_words.update(['zero','one','two','three','four','five','six','seven','eight','nine','ten','may','also','across','among','beside','however','yet','within'])
re_stop_words = re.compile(r"\b(" + "|".join(stop_words) + ")\\W", re.I)
def removeStopWords(sentence):
    global re_stop_words
    return re_stop_words.sub(" ", sentence)

In [117]:
data['comment_text'] = data['comment_text'].apply(removeStopWords)

In [118]:
data.head()

,comment_text,malignant,highly_malignant,rude,threat,abuse,loathe
0,explanation edits made username hardcore m...,0.0,0.0,0.0,0.0,0.0,0.0
1,daww matches background colour im seemingly ...,0.0,0.0,0.0,0.0,0.0,0.0
2,hey man im really trying edit war guy c...,0.0,0.0,0.0,0.0,0.0,0.0
3,cant make real suggestions improvement ...,0.0,0.0,0.0,0.0,0.0,0.0
4,sir hero chance remember page thats on,0.0,0.0,0.0,0.0,0.0,0.0

# Stemming

In [119]:
stemmer = SnowballStemmer("english")
def stemming(sentence):
    stemSentence = ""
    for word in sentence.split():
        stem = stemmer.stem(word)
        stemSentence += stem
        stemSentence += " "
    stemSentence = stemSentence.strip()
    return stemSentence

In [120]:
data['comment_text'] = data['comment_text'].apply(stemming)

In [121]:
data.head()

,comment_text,malignant,highly_malignant,rude,threat,abuse,loathe
0,explan edit made usernam hardcor metallica fan...,0.0,0.0,0.0,0.0,0.0,0.0
1,daww match background colour im seem stuck tha...,0.0,0.0,0.0,0.0,0.0,0.0
2,hey man im realli tri edit war guy constant re...,0.0,0.0,0.0,0.0,0.0,0.0
3,cant make real suggest improv wonder section s...,0.0,0.0,0.0,0.0,0.0,0.0
4,sir hero chanc rememb page that on,0.0,0.0,0.0,0.0,0.0,0.0

# TF-IDF

In [122]:
df1=data['comment_text'].iloc[0:5000]

In [123]:
df1

0       explan edit made usernam hardcor metallica fan...
1       daww match background colour im seem stuck tha...
2       hey man im realli tri edit war guy constant re...
3       cant make real suggest improv wonder section s...
4                      sir hero chanc rememb page that on
                              ...
4995    hello marcruhwedel welcom wikipedia welcom wik...
4996                              that cheer talk contrib
4997    delay reaction happen read wonder warn yesterd...
4998    slight differ disagre comment bbb action borde...
4999    nonsens truth school give suffici inform anthr...
Name: comment_text, Length: 5000, dtype: object

In [124]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df= 3, stop_words="english", sublinear_tf=True, norm='l2', ngram_range=(1, 2))
final_features = vectorizer.fit_transform(df1).toarray()
final_features.shape

(5000, 8762)

In [125]:
pd.DataFrame(final_features)

,0,1,2,3,4,5,6,7,8,9,...,8752,8753,8754,8755,8756,8757,8758,8759,8760,8761
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
X=final_features
y=data.iloc[:,1:][0:5000]

In [127]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [128]:
y.shape

(5000, 6)

In [129]:
y

      malignant  highly_malignant  rude  threat  abuse  loathe
0           0.0               0.0   0.0     0.0    0.0     0.0
1           0.0               0.0   0.0     0.0    0.0     0.0
2           0.0               0.0   0.0     0.0    0.0     0.0
3           0.0               0.0   0.0     0.0    0.0     0.0
4           0.0               0.0   0.0     0.0    0.0     0.0
...         ...               ...   ...     ...    ...     ...
4995        0.0               0.0   0.0     0.0    0.0     0.0
4996        0.0               0.0   0.0     0.0    0.0     0.0
4997        1.0               0.0   0.0     0.0    1.0     0.0
4998        0.0               0.0   0.0     0.0    0.0     0.0
4999        0.0               0.0   0.0     0.0    0.0     0.0

[5000 rows x 6 columns]

In [130]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score

# define dataset
#X, y = make_classification(n_samples=5000, n_features=10, n_informative=5, n_redundant=5, n_classes=4, random_state=1)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.1, random_state = 13)

# define model
model = LogisticRegression()
# define the ovr strategy
ovr = OneVsRestClassifier(model)
# fit model
ovr.fit(X_train, y_train)
# make predictions
yhat = ovr.predict(X_test)

print("Accuracy = ",accuracy_score(y_test,yhat))

Accuracy =  0.91

In [131]:
#pip install scikit-multilearn

Requirement already satisfied: scikit-multilearn in c:\users\shilpi\anaconda3\lib\site-packages (0.2.0)Note: you may need to restart the kernel to use updated packages.

In [132]:
# using binary relevance
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB
# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())
# train
classifier.fit(X_train, y_train)
# predict
predictions = classifier.predict(X_test)
# accuracy
print("Accuracy = ",accuracy_score(y_test,predictions))

Accuracy =  0.82

In [133]:
#Adapted Algorithm
from skmultilearn.adapt import MLkNN
from scipy.sparse import csr_matrix, lil_matrix
classifier_new = MLkNN(k=10)
# Note that this classifier can throw up errors when handling sparse matrices.
x_train = lil_matrix(X_train).toarray()
y_train = lil_matrix(y_train).toarray()
x_test = lil_matrix(X_test).toarray()
# train
classifier_new.fit(x_train, y_train)
# predict
predictions_new = classifier_new.predict(x_test)
# accuracy
print("Accuracy = ",accuracy_score(y_test,predictions_new))
print("\n")

Accuracy =  0.902

In [134]:
# using Label Powerset
from skmultilearn.problem_transform import LabelPowerset
# initialize label powerset multi-label classifier
classifier = LabelPowerset(LogisticRegression())
# train
classifier.fit(X_train, y_train)
# predict
predictions = classifier.predict(X_test)
# accuracy
print("Accuracy = ",accuracy_score(y_test,predictions))
print("\n")

Accuracy =  0.904

In [135]:
yhat.shape

(500, 6)

In [136]:
yhat

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [137]:
import joblib
joblib.dump(ovr,'malignant.obj')

['malignant.obj']